################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SEP3/.idea/.idea.SEP3
/SEP3/.idea
