@page "/library"
@using SEP3.Data
@using SEP3.Services
@inject HttpClient httpClient
@inject SEP3.Services.BookService bookServce

<div class="col-12">
    <h3><b>Enter Book Information</b></h3>
    <hr />


    <EditForm Model="@book" OnValidSubmit="@SaveBook" >
        <DataAnnotationsValidator />

        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Title : </label>
            <InputText class="form-control col-3" @bind-Value="book.Name" placeholder="title" />
            &nbsp;<ValidationMessage For="@(() => book.Name)" />
        </div>
        <br />
       
        <br />
        <div class="col-12 row">
            <span class="col-2"></span>
            <input type="submit" class="form-control col-1 btn btn-primary" value="Save" />
            <span>&nbsp;</span>
            <input type="submit" class="form-control col-1 btn btn-primary" value="Clear" />
        </div>
    </EditForm>
</div>
<br />
<br />
<h2 class="font-weight-bolder font-italic">Your List of Books</h2>
<table class="table">
    <thead>
        <tr>
            <th>Title of Book</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        @if (bookList != null)
        {
            foreach (var book in bookList)
            {
                <tr>
                    <td>@book.Name</td>
                    

                </tr>
            }
        }

    </tbody>
</table>


@code {

    public Book book { get; set; }
    public List<Book> bookList;


    protected override async Task OnInitializedAsync()
    {

        book = new Book();
        Book[] temp = await bookServce.GetAllBookAsync();
       
        bookList = new List<Book>();
        foreach (var bookarr in temp)
        {
            bookList.Add(bookarr);
        };
         HttpResponseMessage response = await httpClient.GetAsync("http://localhost:8080/OnlineLibrary/");
        Console.WriteLine("THIS IS THE PLACE");

        Console.WriteLine(response.IsSuccessStatusCode);
        string responseBody = await response.Content.ReadAsStringAsync();
        var print = book.GetJson(responseBody);
        Console.WriteLine(print.ToString());
    }

    public void SaveBook()
    {
        var title = book.Name;
        Book temp = new Book();
        temp.Name = title;
        bookList.Add(temp);
        book = new Book();

    }

}