@page "/login"
@using SEP3.Data
@using  SEP3.Services
@inject IUserService userService


<h2>Login</h2>
<br />


<EditForm Model="@user" OnValidSubmit="@UserLogin">
    

    <div class="col-12 row">
        <label class="col-2 font-weight-bold">Username : </label>
        <InputText class="form-control col-3" @bind-Value="user.Name" placeholder="Username" />
       
    </div>
    <br />
    <div class="col-12 row">
        <label class="col-2 font-weight-bold">Password :  </label>
        <InputText class="form-control col-3" @bind-Value="user.Password" placeholder="password" />
       
    </div>
    <br />
    <div class="col-12 row">
        <span class="col-2"></span>
        <input type="submit" class="form-control col-1 btn btn-primary" value="Login" />
        <span>&nbsp;</span>
        <input type="submit" class="form-control col-2 btn btn-primary" value="Create account" />
    </div>
</EditForm>


@code {

    public User user;
    public bool isCorrect;

    protected override async Task OnInitializedAsync()
    {
        user = new User();

    }
    public async Task<bool>UserLogin()
    {

        Console.WriteLine($"***************** USER LOGGED IN ****************** ");
        return await Task.FromResult(true);
    }

    private async Task<bool> createAccountPage()
    {
        Console.WriteLine("***************** USER ACCOUNT CREATE******************");
        return await Task.FromResult(true);
    }




}
